#calenderTable{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  height: 70vh;
}
#calenderTable td,th{
  border: 1px solid black;
  height: 10vh;
  text-align: center;
}
#calenderTable td:hover{
  background: rgba(110,154,146,.45);
}
.schedule{
  display: none;
}
