#calendarTable{
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%
}
#calendarTable td,#calendarTable th{
  border: 1px solid black;
  text-align: center;
}
/* .ative : 활성화 된 td */
#calendarTable td.active{
  color: rgb(250,250,250);
  background-color: rgb(50,50,50);
}

#calendarTable td:hover{
  background-color: rgba(0,0,0,.9);
  box-shadow: 2px 2px 5px black;
}
#calendarTable .schedule{
  /* display: none; */
  /* none은 사라지게 한다.=> event를 받을 수 없다. */
  visibility: hidden;
  /* hidden 보이지만 않게 한다 */
}
/* .disabled : 비활성화 된 td */
#calendarTable td.disabled{
  color: rgb(250,250,250);
  background-color: rgb(220,220,230);
}
/* #calendarTable td 아래에 있는 것이 적용 우선 순위가 높다  */
